*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    min-height: 100vh;
    background: #40E0D0; 
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); 
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.main h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.main h1 span{
    color:#000;
}

textarea{
    width: 600px;
    height: 250px;
    background: #ffffff;
    color: #000;
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button{
    background: #007bff;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button img{
    width: 16px;
    margin-right: 10px;
}

select{
    flex: 1;
    color: #000000;
    background-color: #ffffff;
    height: 42px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px);
    background-size: 25px;
}